img {
	height: 150px;
}
/* Colors and fonts */
body {
	background-color: #ECE2D0;
	color: #585B56;
	font-family: 'Lora', serif;
	font-size: 17px;
}
h1, h2{
	font-family: 'Roboto', sans-serif;
}
h1{
color: #EA526F;
font-weight: 800;
letter-spacing: 10px;
font-size: 32px;
text-transform: uppercase;
font-weight: 500;
}

h2{
	color : #EA526F;
	font-family: Helvetica ;
	font-size: 24px;
	font-weight: bolder;
}

a{
	text-decoration: none;
	color: #00798C;
	font-weight: bolder;
}
a:hover {
	color: #9381FF;
}
div {
background: white;
width: 60%;
border: 2px solid white;
margin:  50px auto;
padding: 30px;
border-radius: 2%;
box-shadow: 0px 10px 30px grey;
}




.img-circle {
	border-radius: 40%;
	width: 120px;
	object-fit: cover;
	margin: auto;
}

.container{
width: 80%;
margin: 20px auto;

}

.box-white {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10 px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	text-align: center;
}

.btn-purple{

	background-color:#EA526F;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-purple:hover{
	background-color: black;
	color: white;

}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

.list-inline i: hover {
	color: black;
}
#introduction p {
margin-bottom: 40px;
}



@media (max-width: 760px){
	.container{
		width: 600 px;
	}
}



@media (max-width: 500px){
.container{
	width: 400px;
	}

}







